<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="cafe_quanly" 
		     connectionString="Data Source=DESKTOP-E61FMDN\SQLEXPRESS;Initial Catalog=cafe_quanly;Integrated Security=True;TrustServerCertificate=True" 
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>