USE [master]
GO
/****** Object:  Database [cafe_quanly]    Script Date: 05/18/2026 9:49:36 PM ******/
CREATE DATABASE [cafe_quanly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cafe_quanly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cafe_quanly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cafe_quanly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cafe_quanly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cafe_quanly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cafe_quanly]
GO
/****** Object:  Table [dbo].[Ca]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan_id] [int] NOT NULL,
	[gio_mo] [datetime] NOT NULL,
	[gio_dong] [datetime] NULL,
	[tien_dau_ca] [decimal](10, 0) NOT NULL,
	[tien_cuoi_ca] [decimal](10, 0) NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoa_don_id] [int] NOT NULL,
	[mon_an_id] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia] [decimal](10, 0) NOT NULL,
	[thanh_tien] [decimal](10, 0) NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_danh_muc] [nvarchar](100) NOT NULL,
	[thu_tu] [int] NOT NULL,
	[hien_thi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ca_id] [int] NOT NULL,
	[ma_hoa_don] [nvarchar](20) NOT NULL,
	[tong_tien] [decimal](12, 0) NOT NULL,
	[giam_gia] [decimal](12, 0) NOT NULL,
	[thanh_toan] [decimal](12, 0) NOT NULL,
	[phuong_thuc_tt] [nvarchar](20) NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
	[tao_luc] [datetime] NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[danh_muc_id] [int] NOT NULL,
	[ten_mon] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[gia] [decimal](10, 0) NOT NULL,
	[kha_dung] [bit] NOT NULL,
	[thu_tu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[vai_tro] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuChi]    Script Date: 05/18/2026 9:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuChi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ca_id] [int] NOT NULL,
	[hoa_don_id] [int] NULL,
	[loai] [nvarchar](10) NOT NULL,
	[mo_ta] [nvarchar](255) NOT NULL,
	[so_tien] [decimal](10, 0) NOT NULL,
	[tao_luc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([id], [ten_dang_nhap], [mat_khau], [vai_tro]) VALUES (12, N'admin', N'123456', N'admin')
INSERT [dbo].[TaiKhoan] ([id], [ten_dang_nhap], [mat_khau], [vai_tro]) VALUES (13, N'thungan', N'123456', N'nhan_vien')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__DBE2D9E2B465FB56]    Script Date: 05/18/2026 9:49:37 PM ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__363698B3387D63C5]    Script Date: 05/18/2026 9:49:37 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ca] ADD  DEFAULT (getdate()) FOR [gio_mo]
GO
ALTER TABLE [dbo].[Ca] ADD  DEFAULT ((0)) FOR [tien_dau_ca]
GO
ALTER TABLE [dbo].[Ca] ADD  DEFAULT ('dang_mo') FOR [trang_thai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((1)) FOR [so_luong]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((0)) FOR [thu_tu]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((1)) FOR [hien_thi]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tong_tien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [giam_gia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [thanh_toan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('tien_mat') FOR [phuong_thuc_tt]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('cho_thanh_toan') FOR [trang_thai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [tao_luc]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT ((0)) FOR [gia]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT ((1)) FOR [kha_dung]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT ((0)) FOR [thu_tu]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('nhan_vien') FOR [vai_tro]
GO
ALTER TABLE [dbo].[ThuChi] ADD  DEFAULT (getdate()) FOR [tao_luc]
GO
ALTER TABLE [dbo].[Ca]  WITH CHECK ADD  CONSTRAINT [fk_ca_taikhoan] FOREIGN KEY([tai_khoan_id])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[Ca] CHECK CONSTRAINT [fk_ca_taikhoan]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ct_hoadon] FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[HoaDon] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [fk_ct_hoadon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ct_monan] FOREIGN KEY([mon_an_id])
REFERENCES [dbo].[MonAn] ([id])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [fk_ct_monan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_hoadon_ca] FOREIGN KEY([ca_id])
REFERENCES [dbo].[Ca] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_hoadon_ca]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [fk_monan_danhmuc] FOREIGN KEY([danh_muc_id])
REFERENCES [dbo].[DanhMuc] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [fk_monan_danhmuc]
GO
ALTER TABLE [dbo].[ThuChi]  WITH CHECK ADD  CONSTRAINT [fk_thuchi_ca] FOREIGN KEY([ca_id])
REFERENCES [dbo].[Ca] ([id])
GO
ALTER TABLE [dbo].[ThuChi] CHECK CONSTRAINT [fk_thuchi_ca]
GO
ALTER TABLE [dbo].[ThuChi]  WITH CHECK ADD  CONSTRAINT [fk_thuchi_hoadon] FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[HoaDon] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ThuChi] CHECK CONSTRAINT [fk_thuchi_hoadon]
GO
ALTER TABLE [dbo].[Ca]  WITH CHECK ADD CHECK  (([trang_thai]='da_dong' OR [trang_thai]='dang_mo'))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([phuong_thuc_tt]='khac' OR [phuong_thuc_tt]='chuyen_khoan' OR [phuong_thuc_tt]='tien_mat'))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([trang_thai]='huy' OR [trang_thai]='da_thanh_toan' OR [trang_thai]='cho_thanh_toan'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([vai_tro]='nhan_vien' OR [vai_tro]='admin'))
GO
ALTER TABLE [dbo].[ThuChi]  WITH CHECK ADD CHECK  (([loai]='chi' OR [loai]='thu'))
GO
USE [master]
GO
